.heading {
    color: var(--White, #FFF);
    /* H2 */
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    /* 160% */
}

.selectText {
    color: var(--White, #FFF);

    /* Body */
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 138.889% */
}