.label {
    color: var(--Light-gray, #B1B1B1);
    /* Body Uppercase */
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 510;
    line-height: normal;
    letter-spacing: 3px;
    text-transform: uppercase;
}
